
.container{
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
}
.boxtable{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    
    width: 85%;
    align-items: center;

}
.titlepage{
    font-family: Arial, Helvetica, sans-serif;
}

.headerPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.buttonAdd{
    width: 15%;
    background-color: #1d79d5;
    color: #ffffff;
}